body {
    background-color: rgb(253, 253, 253);
}

.container {
    width: 50%;
    height: 450px;
    margin: 100px auto;
    background: rgb(253, 253, 253);
    padding: 0;
    box-shadow: 0 10px 30px rgba(206, 201, 201, 0.7);
    border: 1px solid #f5f5f5;
    font-family: sans-serif;
}

.container .left {
    float: left;
    width: 50%;
    height: 400px;
    text-align: center;
    padding: 40px 20px;
}

.container .left h1 {
    color: #333;
    padding: 0;
    margin: 0 0 30px;
}

.container .left p {
    color: #777;
    line-height: 1.7;
    font-size: 15px;
    margin-top: 50px;
    margin-bottom: 43px;
}

.container .left button {
    margin-top: 0;
    padding: 15px 30px;
    color: #fff;
    background: transparent;
    border: none;
    font-size: 16px;
    border-radius: 30px;
    background: linear-gradient(to right, #f0ab9c, #e4db8e);
    outline: none;
    cursor: pointer;
}

.container .left button a {
    text-decoration: none;

}

.container .left button a:hover {
    text-decoration: none;
    color: white;

}

.container .right {
    float: right;
    width: 50%;
    height: 400px;
    padding: 40px 20px;
}

.container .right .title {
    text-align: center;
}

.container .right h1 {
    color: #333;
    padding: 0;
    margin: 0 0 30px;
}

.container .right form {
    padding: 0 10px;
}

.container .right form label,
.container .right form input {
    display: block;
    margin-bottom: 10px;
}

.container .right form label {
    color: #666;
    font-size: 16px;
    font-weight: bold;
}

.container .right form input {
    padding: 10px;
    width: 90%;
    border: 1px solid #444;
    outline: none;
}

.container .right form button {
    margin-top: 10px;
    padding: 14px 29px;
    color: #333;
    background: transparent;
    border: 2px solid #444;
    font-size: 16px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease-in-out;
    outline: none;
}

.container .right form button:hover {
    background: linear-gradient(to right, #f0ab9c, #e4db8e);
    color: #fff;
    border: none;
}