h3,
h2 {
    text-align: center;

}

#images {

    width: 140px;

}

.grpb {
    justify-content:space-between ;


}

li,
a {
    color: black;
}


/* mouse over link */
.button:hover {
    color: rgb(151, 67, 56);
}

/* selected link */
.button {
    color: white;
    text-decoration: none;
}

.header_section {
    width: 100%;
    float: left;
}

.header_bg {
    width: 100%;
    float: left;
    background-color: white !important;
}

.header_left {
    width: 45%;
    float: left;
}

.header_right {
    width: 55%;
    float: right ;
}

.banner_img {
    width: 50%;
    float: right;
}

img {
    max-width: 100%;
    height: auto;
}

.logo {
    width: 25%;
    float: left;
}

.banner_main {
    width: 100%;
    float: left;
    padding-left: 100px;
}

.banner_taital {
    width: 100%;
    float: left;
    font-size: 60px;
    color: #2e2d2e;
    padding-top: 80px;
    text-transform: uppercase;
    font-weight: bold;
}

.banner_text {
    width: 90%;
    float: left;
    font-size: 16px;
    color: #2e2d2e;
    margin-left: 0px;
}

.header_right {
    width: 50%;
    float: left;
}

.btn_main {
    width: 100%;
    float: left;
    padding-top: 75px;
   
}

.more_bt {
    width: 170px;
    float: left;

}

.more_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #000;
    border: 2px solid #ff5a58;
    text-align: center;
    padding: 10px 0px;
    border-radius: 40px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none ;
}

.more_bt a:hover {
    color: #000;
    border: 2px solid #ff5a58;
}

.contact_bt {
    width: 170px;
    float: left;
    margin-left: 15px;
}

.contact_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #181818;
    border: 2px solid #4aafff;
    text-align: center;
    padding: 10px 0px;
    border-radius: 40px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none ;
}

.contact_bt a:hover {
    color: #181818;
    border: 2px solid #ff5a58;
}